/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Estilos visuales
5. Otros
*/
.section3{
	min-width: 320px;
	height: 550px;
}
.section3-background{
	min-width: 320px;
	height: 80vh;
	background-image: url('https://i.postimg.cc/5NLhVwN7/bgsection3.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.section3-container-text{
	padding: 80px 0 0 30px;
	text-align:left;
	color:white;
	

	h2{
		margin-bottom: 15px;
		color: white;
	}
	hr{
		width: 50px;
	}
	p{
		width: 90%;
		margin-top: 15px;
		line-height: 2.2rem;
	}

}

.information{
	min-width: 320px;
	 @include background-section3;
}

.information-container-text{
	padding: 30px 0 0 20px;
	color: white;
	h2{
		margin-bottom: 15px;
		
	}
	hr{
		width: 50px;
	}
	p{
		width: 90%;
		margin-top: 15px;
		line-height: 2.2rem;
	}
}