/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Estilos visuales
5. Otros
*/

.section2-container {
  @include background-header;
}

.flex-gallery-icons {
  ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    gap: 15px;
  }

	li {
		
	}

  a {

	}

  i {
    border-radius: 50%;
		text-align: center;
		padding-top: 17px;
		width: 65px;
    height: 65px;
		border-style: solid;
    color: #fff;
  }
}

.gallery-flex-icon{
	font-size: 1.7rem;

}
