header
	picture.header-image  
		img(src="https://i.postimg.cc/ZR7ys3Sd/small-first-Screen.jpg", alt="header-image")
	section.header-content-text
		h1 Hello, my name is Ethereal	
		hr
		p This is <strong>Ethereal.</strong> It’s fully responsive, built on HTML5 and CSS3, and released entirely for free under the Creative Commons license. Hope you dig it :)
		a(class="header-arrow-icon", href="#") 	
			i(class="fas fa-angle-right")
		
	


		
