section 
	picture.section1-image  
		img(src="https://i.postimg.cc/v82fMqzZ/Small-second-Screen.jpg", alt="section1-image")
		div.div-content-text
			h2 Sed etiam aenean	
			hr
			p Mauris et ligula arcu. Proin dapibus convallis accumsan. Lorem maximus hendrerit orci, sit amet elementum massa hendrerit sed. Donec et ullamcorper ligula. Suspendisse amet potenti. Ut pretium libero eleifend euismod sed tristique. Quisque dictum magna risus, id ultricies justo sagittis vitae. Sed id odio tempor, porttitor elit amet, gravida hendrerit fringilla lorem ipsum dolor.